<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.choi.beer_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Project_Beer_europe_Guinness"/>
        <activity android:name=".Project_Beer_start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".Project_Beer_asia">


        </activity>
        <activity android:name=".Project_Beer_europe">


        </activity>
        <activity android:name=".Project_Beer_america">


        </activity>
        <activity android:name=".MainActivity">

        </activity>

    </application>

</manifest>