<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zmarket.myapp.product.img.ProductImgMapper">

	<resultMap type="com.zmarket.myapp.product.img.ProductImg" id="ProductImgResultMap">
		<result property="num" column="NUM"/>
		<result property="prod_num" column="PROD_NUM"/>
		<result property="path" column="PATH"/>
		<result property="name" column="NAME"/>
	</resultMap>
	
	<select id="select" resultMap="ProductImgResultMap" parameterType="int">
		SELECT * FROM product_imgs WHERE num=#{num}
	</select>
	
	<select id="selectAll" resultMap="ProductImgResultMap" parameterType="int">
		SELECT * FROM product_imgs WHERE prod_num=#{prod_num}
	</select>
	
	<insert id="insert" parameterType="com.zmarket.myapp.product.img.ProductImg">
		INSERT INTO product_imgs VALUES(SEQ_PRODUCT_IMGS.NEXTVAL, #{prod_num}, #{path}, #{name})
	</insert>
	
	<update id="update" parameterType="com.zmarket.myapp.product.img.ProductImg">
		UPDATE product_imgs SET prod_num=#{prod_num}, path=#{path}, name=#{name} WHERE num=#{num}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM product_imgs WHERE num=#{num}
	</delete>
</mapper>
